<div class="card p-3 text-bg-success rounded-3">
    <h1 class="card-title">NoteJS</h1>
    <p class="card-subtitle lead"> Pagina de prueba con NodeJS y MongoDB.</p>
    <hr>

    <div class="card-body text-center">
        <p class="card-text fw-light">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod soluta laboriosam voluptatum perspiciatis possimus animi cupiditate minus reprehenderit. Minima facilis delectus corrupti quibusdam ducimus nostrum! Obcaecati error quaerat, esse rem aspernatur et alias repudiandae nesciunt molestias hic placeat ipsam! Eum explicabo quae a accusantium repudiandae deserunt at, reiciendis alias nulla.</p>
        <a href="/users/register" class="btn btn-danger">Let's Go!!</a>
    </div>
</div>